body{
    margin: 0;
    font-family: "Poppins",sans-serif;
    background-color: rgba(230, 254, 237, 0.667);

}

/* <============================Navbar Start==============================> */

nav{
    width: 100%;
    height: 70px;
    /* display: flex; */
    /* background-color: blueviolet; */
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.461);
    background-color: rgba(231, 234, 232, 0.587);
}


.logo span{
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 3px;
    position: relative;
    top: -14px;
}

.logo img{
    width: 26px;
    margin: 20px 20px 10px 60px;
}

nav a{
    font-size: 17.8px;
    margin: 0px 10px 0px 30px ;
    position: relative;
    top: -14px;
    cursor: pointer;
    padding-bottom: 19.2px;
    color: black;
    text-decoration: none;
}

.logout{
    position: absolute;
    top: 29px;
    right: 50px;
    font-size: 17px;
    padding-bottom: 18px;
}

nav a:hover{
    border-bottom: 2px solid rgb(45, 220, 45);
    color: rgb(39, 187, 39);
    background-color: rgba(164, 159, 159, 0.020);
}

.logout:hover{
    border-bottom: 2px solid black;
    color: rgb(5, 5, 5);
}



/* <============================Navbar End================================> */

/* <============================Body Start==============================> */

main h1{
    margin: 40px 0px 0px 10%  ;
}

.search_reset{
    margin-left: 11%;
    margin-top: 30px;
}

.search_reset input{
    width: 50%;
    height: 50px;
    border: none;
    font-size: 17px;
    padding-left: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.605);
    box-shadow: 0px 0px 1px rgba(128, 128, 128, 0.308);
}

.search_reset input:hover{
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.466);
}



.search_reset button{
    width: 10%;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: rgb(25, 212, 25);
    color: whitesmoke;
    font-size: 14.5px;
    margin-left: 30px;
    letter-spacing: 1px;
    box-shadow: 0px 0px 3px rgb(88, 209, 40);
}

button:hover{
    box-shadow: 0px 0px 10px rgb(88, 209, 40);

}

button:active{
    box-shadow: 0px 0px 5px rgb(88, 209, 40);
}

.search_reset input:focus{
    outline: none;
}

.users{
    width: 90%;
    margin-top: 25px;
    margin-left: 6%;
}

table{
    margin-left: 5%;
}

thead{
    width: 100%;
}

thead td{
    /* width: 23.4%; */
    width: 120px;
    height: 60px;
    font-weight: bolder;
    padding-left: 15px;
    font-size: 14px;
}

table td:first-of-type{
    width: 60px;
}

table td:nth-of-type(2){
    width: 150px;
}

table td:nth-of-type(3){
    width: 210px;
}

table td:nth-of-type(4){
    width: 150px;
}

table td:nth-of-type(5){
    width: 130px;
}

table td:nth-of-type(6){
    width: 220px;
}

tbody tr{
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: -3px 3px 9px rgba(128, 128, 128, 0.301);
    border-radius: 10px 0px 0px 10px;
}

tbody td{
    width: 120px;
    height: 70px;
    padding-left: 12px;
    font-size: 15px;
}

/* <============================Body End================================> */
